<div class="container">
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <h2>Crear Aula</h2>
    <form (submit)="handleSubmit()">
      <div class="form-group">
        <label>Numero:</label>
        <input type="number" name="nro" [(ngModel)]="formData.nro" required />
      </div>
      <div class="form-group">
        <label>Capacidad:</label>
        <input type="number" name="capacidad" [(ngModel)]="formData.capacidad" required />
      </div>
      <button type="submit">Guardar Aula</button>
    </form>
</div>