<div class="container">
    <h2>Gestión de Aulas</h2>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <button routerLink="/crear-aula" class="reg-button">Crear Aula</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Número</th>
                <th>Capacidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aula of aulas" key="aula.id">
                <td>{{ aula.id }}</td>
                <td>{{ aula.nro }}</td>
                <td>{{ aula.capacidad }}</td>
                <td>
                    <button class="delete-button" (click)="deleteAula(aula.id)">Eliminar</button>
                    <button class="update-button" (click)="navigateToUpdate(aula.id)">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>