<!-- <app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<nav class="bg-blue-900 border-b border-blue-300" *ngIf="isAuthenticated">
    <div class="flex justify-between items-center px-6">
        <!-- Ícono de Menú (cyan) -->
        <button id="menu-button" (click)="expandSidebar()">
            <i class="fas fa-bars text-cyan-500 text-lg"></i>
        </button>
        <!-- Logo (centrado) -->
        <div class="mx-auto">
            <img src="assets/images/logo.png" alt="logo" class="small-logo">
        </div>
        <!-- Ícono de Notificación y Perfil -->
        <div class="space-x-4">
            <button>
                <i class="fas fa-bell text-cyan-500 text-lg"></i>
            </button>
            <!-- Botón de Perfil -->
            <button>
                <i class="fas fa-user text-cyan-500 text-lg"></i>
            </button>
        </div>
    </div>
</nav>


<!-- Barra lateral -->
<div id="sidebar" style="width: 15rem"
    class="bg-blue-900 h-screen fixed rounded-none border-none transition-all duration-200 ease-in-out overflow-y-auto" *ngIf="isAuthenticated">
    <!-- Items -->
    <div class="p-2 space-y-4">
        <!-- Perfil -->
        <button *ngIf="isAuthenticated" routerLink = "/profile"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-user text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Perfil</span>
        </button>

        <!-- Gestión de Ususarios -->
        <button *ngIf="isAdmin" routerLink = "/users"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-users"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Ususarios</span>
        </button>
        <!-- Gestión de Horarios -->
        <button *ngIf="isAdmin" routerLink="/horarios"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-clock text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Horarios</span>
        </button>
        <!-- Gestión de Materias -->
        <button *ngIf="isAdmin" routerLink="/materias"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-book-open text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Materias</span>
        </button>
        <!-- Gestión de Grupos -->
        <button *ngIf="isAdmin" routerLink="/grupos"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-tags text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Grupos</span>
        </button>
        <!-- Gestión de Facultades -->
        <button *ngIf="isAdmin" routerLink="/facultades"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-building text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Facultades</span>
        </button>
        <!-- Gestión de Carreras -->
        <button *ngIf="isAdmin" routerLink="/carreras"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-graduation-cap text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Carreras</span>
        </button>
        <!-- Gestión de Modulos -->
        <button *ngIf="isAdmin" routerLink="/modulos"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-university text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Modulos</span>
        </button>
        <!-- Gestión de Aulas -->
        <button *ngIf="isAdmin" routerLink="/aulas"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-chalkboard-teacher text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Aulas</span>
        </button>
        <!-- Gestión de Programaciones -->
        <button *ngIf="isAdmin" routerLink="/programaciones"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-file-alt text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Programaciones</span>
        </button>
        <!-- Gestión de Asistencias -->
        <button *ngIf="isAdmin" routerLink="/asistencias"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="expandSidebar()">
            <i class="fas fa-calendar-check text-lg"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Gestión de Asistencias</span>
        </button>
        <!-- Logout -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group"
            (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Logout</span>
        </button>
    </div>
</div>


<!-- Contenedor gris al lado de la barra lateral -->
<div class="ml-16 bg-gray-100 h-screen fixed w-full lg:w-full transition-all duration-200 ease-in-out pr-10 mr-16" *ngIf="isAuthenticated">

    <!-- Buscador con Icono -->
    <div class="flex items-center w-full mt-2 p-4" style="max-width: 94%">
        <div class="relative w-full">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fas fa-search text-gray-200"></i>
            </span>
            <input type="text"
                class="pl-10 pr-4 py-2 rounded-full border border-gray-300 w-full text-sm placeholder-gray-400"
                placeholder="Buscar..." />
        </div>
    </div>

    <!-- Contenido dinámico -->
    <div class=" w-full px-4"> <!-- Modificado el pl-4 a px-4 -->
        <router-outlet></router-outlet>
    </div>

</div>

<div *ngIf="!isAuthenticated">
    <app-login (loggedIn)="onLogin()"></app-login>
</div>

