<!-- <app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<nav class="bg-blue-900 border-b border-blue-300" *ngIf="isAuthenticated">
    <div class="flex justify-between items-center px-6">
        <!-- Ícono de Menú (cyan) -->
        <button id="menu-button" (click)="expandSidebar()">
            <i class="fas fa-bars text-cyan-500 text-lg"></i>
        </button>
        <!-- Logo (centrado) -->
        <div class="mx-auto">
            <img src="assets/images/logo.png" alt="logo" class="small-logo">
        </div>
        <!-- Ícono de Notificación y Perfil -->
        <div class="space-x-4">
            <button>
                <i class="fas fa-bell text-cyan-500 text-lg"></i>
            </button>
            <!-- Botón de Perfil -->
            <button>
                <i class="fas fa-user text-cyan-500 text-lg"></i>
            </button>
        </div>
    </div>
</nav>


<!-- Barra lateral -->
<div id="sidebar" style="width: 18rem; height: calc(100vh - 4rem);"
    class="bg-blue-900 fixed rounded-none border-none transition-all duration-200 ease-in-out overflow-y-auto"
    *ngIf="isAuthenticated">
    <!-- Items -->
    <div class="p-2 space-y-4">
        <!-- Perfil -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-user text-lg" routerLink="/profile"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/profile">Perfil</span>
        </button>

        <!-- Gestión de Ususarios -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-users" routerLink="/users"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/users">Gestión de
                Ususarios</span>
        </button>
        <!-- Gestión de Horarios -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-clock text-lg" routerLink="/horarios"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/horarios">Gestión de
                Horarios</span>
        </button>
        <!-- Gestión de Materias -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-book-open text-lg" routerLink="/materias"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/materias">Gestión de
                Materias</span>
        </button>
        <!-- Gestión de Grupos -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-tags text-lg" routerLink="/grupos"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/grupos">Gestión de
                Grupos</span>
        </button>
        <!-- Gestión de Facultades -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-building text-lg" routerLink="/facultades"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/facultades">Gestión de
                Facultades</span>
        </button>
        <!-- Gestión de Carreras -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-graduation-cap text-lg" routerLink="/carreras"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/carreras">Gestión de
                Carreras</span>
        </button>
        <!-- Gestión de Modulos -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-university text-lg" routerLink="/modulos"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/modulos">Gestión de
                Modulos</span>
        </button>
        <!-- Gestión de Aulas -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-chalkboard-teacher text-lg" routerLink="/aulas"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/aulas">Gestión de
                Aulas</span>
        </button>
        <!-- Gestión de Programaciones -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-file-alt text-lg" routerLink="/programaciones"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/programaciones">Gestión de
                Programaciones</span>
        </button>
        <!-- Programaciones Académicas -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fa-solid fa-clipboard-list" routerLink="/programaciones/usuario"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/programaciones/usuario">Programaciones
                Académicas</span>
        </button>
        <!-- Resgistrar de Asistencias -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fas fa-calendar-check text-lg" routerLink="/registrar/asistencias"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/registrar/asistencias">Registrar de
                Asistencias</span>
        </button>
        <!-- Resgistros de Asistencias -->
        <button *ngIf="isAdmin" class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fa-solid fa-book-open-reader" routerLink="/asistencias"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/asistencias">Registros de
                Asistencias</span>
        </button>
        <!-- Aprobar Licencias -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fa-solid fa-laptop-medical" routerLink="/licencias"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/licencias">Aprobar Licencias</span>
        </button>
        <!-- Licencias -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fa-solid fa-user-injured" routerLink="/licencias/usuario"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/licencias/usuario">Solicitar Licencias</span>
        </button>
        <!-- Reportes -->
        <button *ngIf="isAdmin"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group">
            <i class="fa-solid fa-file-invoice" routerLink="/reportes"></i>
            <span class="font-medium transition-all duration-200 opacity-0" (click)="expandSidebar()"
                routerLink="/reportes">Reportes</span>
        </button>
        <!-- Logout -->
        <button *ngIf="isAuthenticated"
            class=" px-3 flex items-center space-x-4 justify-start text-blue-300 rounded-lg group" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span class="font-medium transition-all duration-200 opacity-0">Logout</span>
        </button>
    </div>
</div>


<!-- Contenedor gris al lado de la barra lateral -->
<div class="ml-16 bg-gray-100 h-screen fixed w-full lg:w-full transition-all duration-200 ease-in-out pr-10 mr-16 overflow-y-auto"
    *ngIf="isAuthenticated" style="height: calc(100vh - 4rem);">

    <!-- Buscador con Icono -->
    <div class="flex items-center w-full mt-2 p-4" style="max-width: 94%">
        <div class="relative w-full">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <i class="fas fa-search text-gray-200"></i>
            </span>
            <input type="text"
                class="pl-10 pr-4 py-2 rounded-full border border-gray-300 w-full text-sm placeholder-gray-400"
                placeholder="Buscar..." />
        </div>
    </div>

    <!-- Contenido dinámico -->
    <div class=" w-full px-4"> <!-- Modificado el pl-4 a px-4 -->
        <router-outlet></router-outlet>
    </div>

</div>

<div *ngIf="!isAuthenticated">
    <app-login (loggedIn)="onLogin()"></app-login>
</div>