<div class="container">
    <h2>Crear Programación Académica</h2>
    <form>
        <div class="form-group">
            <label>Día:</label>
            <input type="text" name="dia" value="" required />
        </div>
        <div class="form-group">
            <label>Hora de Inicio:</label>
            <input type="text" name="horarioInicio" value="" required />
        </div>
        <div class="form-group">
            <label>Hora de Fin:</label>
            <input type="text" name="horarioFin" value="" required />
        </div>
        <div class="form-group">
            <label>Aula:</label>
            <input type="text" name="aula" value="" required />
        </div>
        <div class="form-group">
            <label>Carrera:</label>
            <input type="text" name="carrera" value="" required />
        </div>
        <div class="form-group">
            <label>Materia:</label>
            <input type="text" name="materia" value="" required />
        </div>
        <div class="form-group">
            <label>Grupo:</label>
            <input type="text" name="grupo" value="" required />
        </div>
        <div class="form-group">
            <label>Docente:</label>
            <input type="text" name="docente" value="" required />
        </div>
        <button type="submit">Guardar Horario</button>
    </form>
</div>


<!-- <div class="container">
    <h2>Editar Programación Académica</h2>
    <form>
        <div class="form-group">
            <label>Día:</label>
            <input type="text" name="dia" value="Lunes" required />
        </div>
        <div class="form-group">
            <label>Hora de Inicio:</label>
            <input type="text" name="horarioInicio" value="7:00" required />
        </div>
        <div class="form-group">
            <label>Hora de Fin:</label>
            <input type="text" name="horarioFin" value="8:00" required />
        </div>
        <div class="form-group">
            <label>Aula:</label>
            <input type="text" name="aula" value="101" required />
        </div>
        <div class="form-group">
            <label>Carrera:</label>
            <input type="text" name="carrera" value="Informática" required />
        </div>
        <div class="form-group">
            <label>Materia:</label>
            <input type="text" name="materia" value="Programación I" required />
        </div>
        <div class="form-group">
            <label>Grupo:</label>
            <input type="text" name="grupo" value="SC" required />
        </div>
        <div class="form-group">
            <label>Docente:</label>
            <input type="text" name="docente" value="Juan Pérez" required />
        </div>
        <button type="submit">Guardar Horario</button>
    </form>
</div> -->

<!-- <div class="container">
    <h2>Programación Académica</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cupos</th>
                <th>Aula</th>
                <th>Carrera</th>
                <th>Materia</th>
                <th>Grupo</th>
                <th>Horario</th>
                <th>Docente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>25</td>
                <td>101</td>
                <td>Informática</td>
                <td>Programación I</td>
                <td>SC</td>
                <td>L-M-V 7:00-8:00</td>
                <td>Juan Pérez</td>
                <td>
                    <button class="delete-button">Editar</button>
                    <button class="update-button" (click)="confirmarEliminar(1)">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>30</td>
                <td>102</td>
                <td>Sistemas</td>
                <td>Base de Datos</td>
                <td>SA</td>
                <td>L-J 9:00-10:30</td>
                <td>Maria García</td>
                <td>
                    <button class="delete-button">Editar</button>
                    <button class="update-button" (click)="confirmarEliminar(2)">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>20</td>
                <td>103</td>
                <td>Redes</td>
                <td>Redes de Computadoras</td>
                <td>SB</td>
                <td>M-V 13:00-15:00</td>
                <td>Carlos Rodríguez</td>
                <td>
                    <button class="delete-button">Editar</button>
                    <button class="update-button" (click)="confirmarEliminar(3)">Eliminar</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div> -->