<div class="container">
    <h2>Gestión de Usuarios</h2>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <button routerLink="/register" class="reg-button">Regisrar Usuario</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>C.I.</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" key="user.id">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.direccion }}</td>
                <td>{{ user.telefono }}</td>
                <td>{{ user.ci }}</td>
                <td>{{ user.city }}</td>
                <td>
                    <button class="delete-button" (click)="deleteUser(user.id)">Eliminar</button>
                    <button class="update-button" (click)="navigateToUpdate(user.id)">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
